#nav-bar {
    top: 0;
    position: sticky;
    box-shadow: 0 2px 2px #AAAAAA;
    padding: 0 1rem 0.5rem 1rem;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    transition: top 0.3s ease-in-out;
}

#nav-bar.hidden {
    top: -10rem;
    transition: top 0.3s ease-in-out;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'M PLUS 1', sans-serif;
    color: #140f0d;
    cursor: pointer;
}

.logo-jp {
    font-size: 3vw;
}

.logo-en {
    font-size: 0.8vw;
}

#nav-button-mobile {
    background: none;
    border: none;
    cursor: pointer;
}

#nav-button-mobile.active .button-bar:nth-child(2) {
    transition: all 0.3s ease-in-out;
    width: 0;
}

#nav-button-mobile.active .button-bar:nth-child(1) {
    transition: all 0.3s ease-in-out;
    transform: translateY(8px) rotate(-225deg);
}

#nav-button-mobile.active .button-bar:nth-child(3) {
    transition: all 0.3s ease-in-out;
    transform: translateY(-8px) rotate(225deg);
}

.button-bar {
    width: 36px;
    height: 5px;
    border-radius: 5px;
    background-color: #140f0d;
    margin: 3px 0;
    transition: all 0.3s ease-in-out;
}

#nav-hover {
    position: absolute;
    background: #140f0d;
    opacity: 0;
    left: 20rem;
    width: 0;
    height: 4vw;
    border-radius: 2vw;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

#nav-hover.fade-in {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.nav-menu {
    min-width: 50%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.5vw;
    font-weight: 700;
}

#nav-menu-mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80%;
    height: 60%;
    top: -1000px;
    background: #FFFFFF;
    opacity: 1;
    border-radius: 10px;
    border: #AAAAAA;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    align-items: center;
    text-transform: uppercase;
    list-style: none;
    box-shadow: 0 2px 2px #AAAAAA;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

#nav-menu-mobile.active {
    opacity: 1;
    top: 20%;
    transition: top 0.3s ease-in-out;
}

#nav-menu-mobile > .nav-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

#nav-menu-mobile > .nav-item:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
    background: #140f0d;
    transition: all 0.3s ease-in-out;
}


.nav-item {
    padding: 1.5rem;
    color: #140f0d;
    transition: color 0.3s ease-in-out;
}

.nav-item:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
    transition: color 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
    #nav-bar {
        padding: 0 0.5rem 0.5rem 0.5rem;
    }
    .nav-menu, #nav-hover {
        display: none;
    }
    .nav-item {
        font-size: 2.5vh;
    }
    .logo-jp {
        font-size: 2.4rem;
    }
}

@media screen and (min-width: 769px) {
    #nav-button-mobile, #nav-menu-mobile {
        display: none;
    }
}